@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.system .savebtn{
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #00ff2f;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container .sound2{
    display: none;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
    transform: rotate(-5deg);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container .settings{
    display: none;
}
.container .sound2:hover
{
    transform: rotate(0deg);
    font-weight: 600;
}
.system .savebtn:hover
{
    opacity: 100;
    transform: translateY(-10px);
    font-weight: 600;
}
.system .deletebtn{
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #ff0000;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.system .deletebtn:hover
{
    transform: translateY(-10px);
    font-weight: 600;
    opacity: 100;
}
.shop{
    display: none;
}
.system{
    display: none;
}
.systembtn{
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.systembtn:hover
{
    transform: translateY(-10px);
    color: #00ff2a;
    background-color: #878787;
}
.shopbtn{
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.shopbtn:hover
{
    transform: translateY(-10px);
    color: #00ff2a;
    background-color: #878787;
}
.backbtn{
    display: none;
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.backbtn:hover
{
    transform: translateY(-10px);
    color: #00ff2a;
    background-color: #878787;
}
.backbtn2{
    display: none;
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.backbtn2:hover
{
    transform: translateY(-10px);
    color: #00ff2a;
    background-color: #878787;
}
.backbtn3{
    display: none;
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.backbtn3:hover
{
    transform: translateY(-10px);
    color: #00ff2a;
    background-color: #878787;
}
.container .btn1
{
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container .btn4
{
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container .btn1:hover
{
    transform: translateY(-10px);
    color: #00ff2a;
    background-color: #878787;
}
.container .btn2:hover
{
    transform: translateY(-10px);
    color: #00ff2a;
    background-color: #878787;
}
.container .btn3:hover
{
    transform: translateY(-10px);
    color: #00ff2a;
    background-color: #878787;
}
.container .btn4:hover
{
    transform: translateY(-10px);
    color: #00ff2a;
    background-color: #878787;
}
.container .balance p
{
    font-size: 25px;
    font-weight: 500;
}
.container .btn2
{
    display: block;
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container .btn3
{
    display: block;
    margin-top: 15px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
body
{
    background-color: #464646;
}
.container
{
    display: block;
    height: 500px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 300px auto auto;
}
.container p
{
    display: block;
    font-size: 55px;
    text-align: center;
}